
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #0057b8;
    color: #fff;
}

.subscribeForm {
    display: flex;

}

.input {
    width: 100%;
    padding: 5px 20px;
    margin-right: 20px;
    color: #111;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    border: solid 1px #fafafa;
    border-radius: 6px;
    opacity: 0.8;
    background-color: #ffd700;

    &:hover,
    &:focus {
        border: 1px solid #ffffff;
            outline: 1px solid #ffffff;
            
            opacity: 1;
        
            &::placeholder {
                color: #0057b8;
            }
    }

    .error & {
        border: 1px solid #e74a3b;
        outline: none;
    }

    .valid & {
        border: 1px solid #3cbc81;
        outline: none;
    }

    @media screen and (min-width: 768px) {
        font-size: 18px;
    }

    @media screen and (min-width: 1440px) {}
}


.btn {
    
    padding: 5px 10px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
    transition: all 200ms linear;
    letter-spacing: 1px;
    
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: #ffd700;
    color: #0057b8;
    box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2);
}

.btn:active,
.btn:focus {
    background-color: #fff;
    color: #ffd700;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}

.btn:hover {
    background-color: #fff;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}
